h1 {
    color: aqua;
}

body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}

.link {
    color: red;
}

.link:hover {
    color: yellow;
    outline: 3px solid red;
}

.link:active { /*Al hacer click*/
    outline: 3px solid blue;
}

li:first-child {
    color: pink;
}

li:last-child {
    color: purple;
}

.tech .bold {
    color: red;
}